/* Style Entire Page */
    body {
    background-color: #E2D1D2;
    color: #000000;
    margin: 0px;
       }
    
    main{
    margin: 12px;
       }

/* Style Headings */
    h1,h2 {
	  text-align: center;
	  color: white;
       }

    h1 {
	  font-size: 30px
       }

/* Style Image */
    img {
	  display: block;
	  margin-left: auto;	
	  margin-right: auto;
        }

/* Style Header */
    header {
	float: center;
	padding-bottom: 20px;
        }

    header a {
        color: black;
        padding: 10px;
        text-decoration: none;
        }

/* Style NavBar */
    nav {
	background-color: white;
	height: 30px;
	padding-top: 12px;
        }

     nav a {
     background: white;
     color: black;
     padding: 10px;
     text-decoration: none;
        }

      nav a:hover {
      background: gray;
        }

/* Style Footer */
      footer {
	text-align: center;
	background-color: #B3B3B3;
	padding-top: 10px;
	padding-bottom: 5px;
    }
   
    footer a {
	text-align: center;
	color: white;
    }
